[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
localstorage = "*"
selenium = "*"
chromedriver = "*"
marshmallow-sqlalchemy = "*"
dt = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
